/* FONTS */
.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
}

.noto-serif display-<uniquifier > {
  font-family: "Noto Serif Display", serif;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}


body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* width: 100vw; */
}

/* Home Page */
.logo {
  /* margin-left: 20%; */
  max-width: 100%;
  height: auto;
}

.homecontainer {
  margin-bottom: 150px;
  /* border: 1px solid black; */
  /* background-color: blue */
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* width: 100%;
  flex-grow: 1; */
  /* border: 2px solid black; */
  margin: 50px;
}

.menulist {
  margin-top: 8%;
  margin-left: 15%;
  list-style-type: none;
}

.limenu {
  font-family: "Quintessential";
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 7%;
}

@media screen and (max-width: 768px) {
  .menulist {
    font-size: 14px;
  }

  .limenu {
    margin-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .menulist {
    font-size: 9px;
  }

  .limenu {
    margin-right: 5px;
  }
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* NAVIGATION BAR */
.navbarlogo {
  width: 75px;
  margin: 10px;
  /* margin-bottom: 0px; */
  /* margin: 5px; */

}

.navbar {
    display: flex;
    font-family: "Quintessential";
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: #8C52FF;
    width: 100%;
    height: 100px;
}

.navbar a {
  color: white; 
  text-align: center; 
  padding: 20px 20px;
  text-decoration: none; 
}

.navbar a:hover {
  background-color: #F6B48B; 
  color: black; 
}

.nav-links {
    display: flex;
    list-style-type: none; 
    width: 100%;
    margin: 0; 
    padding: 0; 
}

.nav-links li {
  display: block; /* Display list items inline */
}



/* About Me Page */
.about-text {
  margin-top: 5%;
  margin-right: 5%;
}

.amparagraphs {
  font-family: "Merriweather";
  font-size: 15px;
  margin-top: 30px;
  margin-right: 15px;
  text-align: justify;
}

.amheader {
  font-family: "Merriweather";
}

.signature {
  float: right;
  margin-right: 150px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  width: 95%;
  /* flex-grow: 1; */
  border: 2px solid black;
  margin: 50px;
}

.photo img {
  width: 100%;
  height: auto;
  margin-left: 20px;
}

/* CONTACT */

/* PORTFOLIO */
.project-card {
  background-color: #ffffff;
  margin-right: 40px;
  margin-left: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  text-align: center;
}

.profilemainpage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.demovideo {
  border: solid black 3px;
}

.profile-headings,
.project-title {
  color: #8c52ff;
}

.profile-headings {
  color: #8c52ff;
  font-family: "Kaushan Script", cursive;
  margin-top: 0;
}

.project-title {
  color: #007bff;
  text-decoration: none;
}

.project-title a {
  color: #007bff;
  text-decoration: none;
}

.project-title a:hover {
  text-decoration: underline;
}

.demo {
  color: #8c52ff;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
  /* margin-top: 0; */
}

@media (max-width: 768px) {
  .profilemainpage {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}

/* BLOG */
.blog-page {
  background-image: linear-gradient(
    to right,
    #b59de4 20%,
    #eaeaea 50%,
    #f6b48b 80%
  );
}
.blog-container {
  /* background-color: #000; */
  max-width: 100%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}

#medium-posts {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 20px;
}

.post {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  transition: transform 0.2s;
}

.post:hover {
  transform: translateY(-5px);
}

.post:last-child {
  border-bottom: none;
}

.post h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post h2 a {
  text-decoration: none;
  color: #333;
}

.post p {
  color: #666;
  line-height: 1.6;
}

.post p:first-of-type {
  font-style: italic;
  color: #999;
}

/* RESUME */
.resume-container {
  position: relative;
  background-image: url("assets/resumebackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.resumepdf {
  width: 80%;
  height: 100vh;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 10px solid black;
}

button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  font-family: "Kaushan Script";
  color: #fff;
  background-color: #8C52FF;
  border-radius: 20px;
}
/* FOOTER */

footer {
  /* position: absolute; */
  /* bottom: 0;
  left: 0; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  /* margin: 20px; */
  /* background-color: #8C52FF; */
  color: black;
  /* border: 2px solid black; */
  /* gap: 20px;
  padding-left: 5px; */
  padding: 20px;
  /* border: solid black 2px; */
}

.linkedin {
  height: 25px;
  margin-left: auto;
  padding: 20px;
  /* border: solid black 2px; */
}
.github {
  height: 25px;
  margin-left: auto;
  padding: 20px;
  /* border: solid black 2px; */
}
.email {
  height: 30px;
  margin-left: auto;
  padding: 20px;
  /* border: solid black 2px; */
}

/* Media Queries */
@media (max-width: 768px) {
  .homecontainer {
    margin-bottom: 100px;
  }
  .home {
    grid-template-columns: 1fr;
  }
  .limenu {
    font-size: 25px;
  }
  .navbar {
    padding: 10px;
  }
  .navbar a {
    padding: 10px;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .github, .email {
    margin-left: 0;
  }
}

